<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title> Responsive Login and Signup Form </title>-->

    <!-- CSS -->
    <link rel="stylesheet" href="/login.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>BMI</header>
                <form method = "post">
                    <div class="field input-field">
                        <input type="number" placeholder="Height" class="input" id="Height" name="Height">
                    </div>
                    <div class="field input-field">
                        <input type="number" placeholder="Weight" class="password" id="Weight" name="Weight">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button>Check BMI</button>
                    </div>
                </form>
</body>

</html>