<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/normal.css">


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>
    <div class="container">
        <h2 style="text-align: center;">You Are: </h2>
        <h1 style="text-align: center; font-size:50px; color: green">HEALTHY </h1>
        <br>

        <div class="text">
            <t>Maintaining healthy weight is very important because people who are overweight or obese are at a higher
                risk of heart disease and stroke. The most important factor in maintaining a healthy weight is not about
                short-term diets. It’s about making long-term lifestyle changes. This involves three things: healthy
                eating, balancing the number of calories eaten with the number burned, and getting regular exercise.</t>
            <br>
            <br>
            <t>
                Maintaining a healthy weight and BMI has a number of benefits in addition to feeling and looking good.
                As well as reducing the risk of heart disease, diabetes, stroke, and high blood pressure, maintaining a
                healthy weight can also lower the risk of several different types of cancer. Not to mention the fact
                that people who have a healthy weight are more motivated to exercise. Other advantages of weight
                maintenance include better quality sleep and a longer lifespan.
                Maintaining a healthy weight doesn’t have to be a chore. People who need motivation can exercise with a
                friend, join a weight loss or exercise club, or work with a personal trainer.

            </t>
            <br>
            <br>
            <BR>

            <h2> HEALTHY MEASURES TO KEEP IN MIND: </h2>
            <BR>

            <div class="image">
                <div class="header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjTEiDUQnrXUR63KB09O1TcNwDcbQHMhOANA&usqp=CAU"
                        alt="drink water">
                </div>
                <div class="texttt">
                    <h1>&nbsp;DRINK ATLEAST 3 LITRES OF WATER EVERYDAY</h1>
                    <t style="color:grey"> &nbsp; Water has no calories, so it can also help with managing body weight
                        and reducing calorie intake when &nbsp;&nbsp;substituted for drinks with calories, such as
                        sweet tea
                        or
                        regular soda. Water helps your body: Keep a normal &nbsp;&nbsp;temperature. Lubricate and
                        cushion joints.
                    </t>
                </div>
            </div>
            <br> <br> <br>
            <div class="image">
                <div class="header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8qTolmNTKl6XTx4viUpXzDzOT8uDupyyozg&usqp=CAU"
                        alt="no smoking/drinking">
                </div>
                <div class="texttt">
                    <h1>&nbsp;AVOID SMOKING AND DRINKING</h1>
                    <T style="color:grey">&nbsp; Smoking's effect on body weight could lead to weight loss by increasing
                        the metabolic rate, decreasing &nbsp;&nbsp;metabolic efficiency, or decreasing caloric
                        absorption (reduction
                        in appetite), all of which are associated with &nbsp;&nbsp;tobacco use. The metabolic effect of
                        smoking
                        could explain the lower body weight found in smokers.</T>
                </div>
            </div>
            <br> <br> <br>

            <div class="image">
                <div class="header">
                    <img src="https://skinnyfitalicious.com/wp-content/uploads/2015/03/eat-more-vegetables.jpg"
                        alt="neat veggies">
                </div>
                <div class="texttt">
                    <h1> &nbsp;EAT FRUITS AND VEGETABLE IN ATLEAST 2 MEALS &nbsp;EVERYDAY
                    </h1>
                    <t style="color:grey">&nbsp; Hardly a shocking side effect of consuming enough vegetables but it
                        massively reduces the risk of weight &nbsp;&nbsp;gain and subsequent obesity. Vegetables are
                        quite filling
                        meaning less room for junk food, however, they are &nbsp;&nbsp;also generally low in calories so
                        if you want
                        to maintain that flat tummy, eat your greens!</t>
                </div>
            </div>



            <br> <br> <br>



            <h2> REMEMBER TO: </h2>
            <BR>

            <ul class="B">
                <li> Watch your portion sizes:</li>
                <t style="font-size:14px; color:grey"> Eating smaller portions can help you to avoid eating too much
                    food and allow you to include more of the foods you love into your daily life. The American Heart
                    Association reminds people that portion sizes are different than serving sizes, and you can learn
                    more about the differences between the two here.</t>
                <li>Eat good food:</li>
                <t style="font-size:14px; color:grey">Foods high in sugar and calories lead to weight gain if you are
                    not careful. Choose foods that are high in nutrition and taste, like fruits, vegetables and whole
                    grains. You don’t have to sacrifice your favorite foods in order to take care of your body
                    either–it’s ok to have a couple of cheat meals or cheat days every once in a while.</t>
                <li>Track what you eat:</li>
                <t style="font-size:14px; color:grey"> Many people are unaware of exactly how many calories they
                    consume, which is why it’s important to track and monitor the total calories you eat and drink each
                    day. If you want to lose weight, you must burn more calories than you eat or drink. Visit the
                    Dietary Guidelines for Americans 2015-2020 chart to see how many calories you need to eat to
                    maintain or lose weight.</t>
                <li>Exercise daily:</li>
                <t style="font-size:14px; color:grey"> Your body weight is affected by the amount of energy you take in
                    and the amount you use. If you want to maintain your current body weight, you will need to use as
                    much energy as you consume; to lose weight, you need to use more energy than you consume. Find a
                    good exercise program that includes both cardio and strength training. The benefits of daily
                    exercise are more than just keeping your body weight in check; exercise also builds muscle,
                    strengthens your heart and helps your body to function at its best.</t>
                <li>Get more sleep:</li>
                <t style="font-size:14px; color:grey">Getting a good amount of sleep every night helps to reset your
                    body, preparing it for the next day. According to the National Institutes of Health, those who don’t
                    get enough sleep often tend to eat more food than they need as a way to stay awake. Make time every
                    day to get enough sleep. Doing so will help you function better throughout the day, and keep you
                    from eating extra. If you have trouble sleeping, find ways to relax your body like yoga, reading or
                    stretching.</t>

            </ul>
            <br>
            <br>
            <br>

            <H3 style="color:crimson">OTHER PAGES TO CHECK OUT:</H3>
            <div class="row">
                <div class="column">
                    <a href="/bmi">
                        <img src="https://play-lh.googleusercontent.com/oRfGPvu132cuyKZXG9Z-OoWr-OlN7VFBIw60vvkBQ2Gzv4V4VdtvpwEISJ1rv9ZzTVI"
                            alt="BMI" style="width:240px;height:240px;" id="left">
                        <h3 style="color: black">BMI Calculator </h3>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.google.com/">
                        <img class="middle-img"
                            src="https://play-lh.googleusercontent.com/b3ptepyxfN2fLwBSobDOEC4tdnBpvs3N4o_yDtwCfJ1ytAChDL9Ja-JH-tQulYXAqWbK"
                            alt="Forest" style="width:240px;height:240px;" id="center">
                        <h3 style="text-align: center;color: black">Calories Calculator </h3>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.google.com/">
                        <img src="https://img1.wsimg.com/isteam/ip/7836b391-4d9d-4e5e-a0f0-a6d9bd4f9e74/0a38c720-316b-4fce-a9f2-ae5aba001cc1.png/:/rs=w:400,cg:true,m"
                            alt="Mountains" style="width:240px;height:240px;" id="right">
                        <br>
                        <h3 style="text-align: center; color: black">BMR Calculator </h3>
                    </a>
                </div>
            </div>

        </div>
</body>

</html>