<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/overweight.css">


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>
    <div class="container">
        <h2 style="text-align: center;">You Are: </h2>
        <h1 style="text-align: center; font-size:50px; color: darkgoldenrod">OVERWEIGHT </h1>
        <br>

        <div class="text">
            <t>Being overweight or fat is having more body fat than is optimally healthy. Being overweight is especially
                common where food supplies are plentiful and lifestyles are sedentary.</t>
            <br>
            <br>
            <t>
                A healthy body requires a minimum amount of fat for proper functioning of the hormonal, reproductive,
                and immune systems, as thermal insulation, as shock absorption for sensitive areas, and as energy for
                future use; however, the accumulation of too much storage fat can impair movement, flexibility, and
                alter the appearance of the body.
                <BR>
                <BR>
                A few risks include:
                <ul class="a">
                    <li>Asthma. Obesity increases the chance of having asthma. Breathing problems related to weight can
                        make it harder to keep up with friends, play sports, or just walk from class to class.</li>
                    <li>Sleep apnea. This condition (where a person temporarily stops breathing during sleep) is a
                        serious problem for many overweight kids and adults. Sleep apnea can leave people feeling tired
                        and having trouble paying attention and learning. It also may lead to heart problems.</li>
                    <li>High blood pressure. When blood pressure is high, the heart has to work harder. If the problem
                        continues for a long time, high blood pressure can damage the heart and arteries.</li>
                    <li>High cholesterol. Abnormal blood lipid levels, including high cholesterol, low HDL ("good")
                        cholesterol, and high triglyceride levels, increase the chances of having a heart attack or
                        stroke when a person gets older.</li>
                    <li>Gallstones. A buildup of bile that hardens in the gallbladder forms gallstones. These can be
                        painful and require surgery.</li>
                    <li>Fatty liver. If fat builds up in the liver, it can cause inflammation, scarring, and permanent
                        liver damage.</li>
                </ul>

            </t>
            <br>
            <br>
            <BR>

            <h2> PREVENTIVE MEASURES: </h2>
            <BR>

            <div class="image">
                <div class="header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjTEiDUQnrXUR63KB09O1TcNwDcbQHMhOANA&usqp=CAU"
                        alt="drink water">
                </div>
                <div class="texttt">
                    <h1>&nbsp;DRINK ATLEAST 3 LITRES OF WATER EVERYDAY</h1>
                    <t style="color:grey"> &nbsp; Drinking more water may help with weight loss by temporarily
                        increasing your metabolic rate. Most of our &nbsp;&nbsp;metabolic processes take place in the
                        presence
                        of
                        water. Water helps in the digestion of food and &nbsp;&nbsp;consequently, helps burn more
                        calories.
                        This
                        will lead to losing belly fat.</t>
                </div>
            </div>
            <br> <br> <br>
            <div class="image">
                <div class="header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8qTolmNTKl6XTx4viUpXzDzOT8uDupyyozg&usqp=CAU"
                        alt="no smoking/drinking">
                </div>
                <div class="texttt">
                    <h1>&nbsp;AVOID SMOKING AND DRINKING</h1>
                    <T style="color:grey">&nbsp; In a meta-analysis of 35 worldwide studies, including 63,403 quitters
                        and 388,432 continuing smokers over a &nbsp;&nbsp;five-year period, they reported that both gain
                        weight.
                        They found that quitters gained an average of 2.6 &nbsp;&nbsp;kilograms, or 5.7 pounds, more
                        than people who
                        continued to smoke.. Heavy smokers gained the most weight.</T>
                </div>
            </div>
            <br> <br> <br>
            <div class="image">
                <div class="header">
                    <img src="https://skinnyfitalicious.com/wp-content/uploads/2015/03/eat-more-vegetables.jpg"
                        alt="neat veggies">
                </div>
                <div class="texttt">
                    <h1> &nbsp;EAT FRUITS AND VEGETABLE IN ATLEAST 2 MEALS &nbsp;EVERYDAY
                    </h1>
                    <t style="color:grey">&nbsp; Veggies tend to be weight-loss friendly. Why? Most are low in calories
                        — and all offer filling fiber, which helps to &nbsp;&nbsp;tide you over and decrease those urges
                        to snack.
                        Plus, "the water content of vegetables increases the volume &nbsp;&nbsp;of the food".</t>
                </div>
            </div>



            <br> <br> <br>



            <h2> REMEMBER TO: </h2>
            <BR>

            <ul class="B">
                <li> Not skip breakfast:</li>
                <t style="font-size:14px; color:grey"> Skipping breakfast will not help you lose weight. You could miss
                    out on essential nutrients and you may end up snacking more throughout the day because you feel
                    hungry.</t>
                <li>Eat regular meals:</li>
                <t style="font-size:14px; color:grey"> Eating at regular times during the day helps burn calories at a
                    faster rate. It also reduces the temptation to snack on foods high in fat and sugar.</t>
                <li>Get more active:</li>
                <t style="font-size:14px; color:grey"> Being active is key to losing weight and keeping it off. As well
                    as providing lots of health benefits, exercise can help burn off the excess calories you cannot lose
                    through diet alone.

                    Find an activity you enjoy and are able to fit into your routine.</t>
                <li>Read food labels:</li>
                <t style="font-size:14px; color:grey"> Knowing how to read food labels can help you choose healthier
                    options. Use the calorie information to work out how a particular food fits into your daily calorie
                    allowance on the weight loss plan.</t>
                <li>Use a smaller plate:</li>
                <t style="font-size:14px; color:grey">Using smaller plates can help you eat smaller portions. By using
                    smaller plates and bowls, you may be able to gradually get used to eating smaller portions without
                    going hungry. It takes about 20 minutes for the stomach to tell the brain it's full, so eat slowly
                    and stop eating before you feel full.</t>
                <li>Not ban foods:</li>
                <t style="font-size:14px; color:grey">Do not ban any foods from your weight loss plan, especially the
                    ones you like. Banning foods will only make you crave them more. There's no reason you cannot enjoy
                    the occasional treat as long as you stay within your daily calorie allowance.</t>
                <li>Not stock junk food:</li>
                <t style="font-size:14px; color:grey">To avoid temptation, do not stock junk food – such as chocolate,
                    biscuits, crisps and sweet fizzy drinks – at home. Instead, opt for healthy snacks, such as fruit,
                    unsalted rice cakes, oat cakes, unsalted or unsweetened popcorn, and fruit juice.</t>
                <li>Plan your meals:</li>
                <t style="font-size:14px; color:grey">Try to plan your breakfast, lunch, dinner and snacks for the week,
                    making sure you stick to your calorie allowance. You may find it helpful to make a weekly shopping
                    list.</t>
            </ul>
            <br>
            <br>
            <br>

            <H3 style="color:crimson">OTHER PAGES TO CHECK OUT:</H3>
            <div class="row">
                <div class="column">
                    <a href="/bmi">
                        <img src="https://play-lh.googleusercontent.com/oRfGPvu132cuyKZXG9Z-OoWr-OlN7VFBIw60vvkBQ2Gzv4V4VdtvpwEISJ1rv9ZzTVI"
                            alt="BMI" style="width:240px;height:240px;" id="left">
                        <h3 style="color: black">BMI Calculator </h3>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.google.com/">
                        <img class="middle-img"
                            src="https://play-lh.googleusercontent.com/b3ptepyxfN2fLwBSobDOEC4tdnBpvs3N4o_yDtwCfJ1ytAChDL9Ja-JH-tQulYXAqWbK"
                            alt="Forest" style="width:240px;height:240px;" id="center">
                        <h3 style="text-align: center;color: black">Calories Calculator </h3>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.google.com/">
                        <img src="https://img1.wsimg.com/isteam/ip/7836b391-4d9d-4e5e-a0f0-a6d9bd4f9e74/0a38c720-316b-4fce-a9f2-ae5aba001cc1.png/:/rs=w:400,cg:true,m"
                            alt="Mountains" style="width:240px;height:240px;" id="right">
                        <br>
                        <h3 style="text-align: center; color: black">BMR Calculator </h3>
                    </a>
                </div>
            </div>

        </div>
</body>

</html>