<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/underweight.css">


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>
    <div class="container">
        <h2 style="text-align: center;">You Are: </h2>
        <h1 style="text-align: center; font-size:50px; color: #c41e3a">UNDERWEIGHT </h1>
        <br>

        <div class="text">
            <t>Being underweight can represent as many health concerns to an individual as
                being overweight can. If a person is underweight, their body may not be getting the nutrients it needs
                to build healthy bones, skin, and hair.

                While some people may have a genetic background or a medical illness that prevents them from putting on
                weight, there are interventions doctors can recommend to help a person gain weight.</t>
            <br>
            <br>
            <t>
                There’s a lot of focus in the medical world on the health effects of being overweight, but what about
                the effects of being underweight? There are certain health risks associated with being underweight or
                having poor nutrition.
                <BR>
                <BR>
                These risks include:
                <ul class="a">
                    <li>Malnutrition, vitamin deficiencies, or anemia</li>
                    <li>Osteoporosis from too little vitamin D and calcium</li>
                    <li>Decreased immune function</li>
                    <li>Increased risk for complications from surgery</li>
                    <li>Fertility issues caused by irregular menstrual cycles</li>
                    <li>Growth and development issues, especially in children and teenagers</li>
                </ul>

            </t>
            <br>
            <br>
            <BR>

            <h2> PREVENTIVE MEASURES: </h2>
            <BR>

            <div class="image">
                <div class="header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjTEiDUQnrXUR63KB09O1TcNwDcbQHMhOANA&usqp=CAU"
                        alt="drink water">
                </div>
                <div class="texttt">
                    <h1>&nbsp;DRINK ATLEAST 2.5 LITRES OF WATER EVERYDAY</h1>
                    <t style="color:grey"> &nbsp; Due to insufficient intake of water, your metabolism will decrease,
                        your gut health will
                        be compromised and &nbsp;&nbsp;you will gain weight instead of losing it.
                        Less fluid in
                        the
                        body will
                        also make you feel constipated and you &nbsp;&nbsp;might face
                        difficulty
                        in
                        passing the bowel. If
                        your internal system is not working properly then weight loss is &nbsp;&nbsp;impossible.</t>
                </div>
            </div>
            <br> <br>
            <div class="image">
                <div class="header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8qTolmNTKl6XTx4viUpXzDzOT8uDupyyozg&usqp=CAU"
                        alt="no smoking/drinking">
                </div>
                <div class="texttt">
                    <h1>&nbsp;AVOID SMOKING AND DRINKING</h1>
                    <T style="color:grey">&nbsp; Many people gain weight when they quit smoking cigarettes. On average,
                        people gain 5 to 10
                        pounds
                        (2.25 to &nbsp;&nbsp;4.5 kilograms) in the months after they
                        give up smoking. You may put off
                        quitting if
                        you are worried about &nbsp;&nbsp;adding extra weight. But not smoking is
                        one of
                        the best
                        things you can do
                        for your health.</T>
                </div>
            </div>
            <br> <br> <br>
            <div class="image">
                <div class="header">
                    <img src="https://skinnyfitalicious.com/wp-content/uploads/2015/03/eat-more-vegetables.jpg"
                        alt="neat veggies">
                </div>
                <div class="texttt">
                    <h1> &nbsp;EAT FRUITS AND VEGETABLE IN ATLEAST 2 MEALS &nbsp;EVERYDAY
                    </h1>
                    <t style="color:grey">&nbsp; Keep a larger variety of the foods you want to eat more of --
                        fruits,
                        veggies, nuts/seeds, lean protein, fatty fish, &nbsp; whole
                        grains,
                        etc. and keep less variety
                        of
                        the foods you want to eat less of (sweet treats, for instance).</t>
                </div>
            </div>



            <br> <br> <br>



            <h2> REMEMBER TO: </h2>
            <BR>

            <ul class="B">
                <li> Add healthy calories:</li>
                <t style="font-size:14px; color:grey"> You don’t need to drastically change your diet. You can increase
                    calories by
                    adding nut or seed
                    toppings, cheese, and healthy side dishes. Try almonds, sunflower seeds, fruit, or whole-grain,
                    wheat toast.</t>
                <li>Go nutrient dense:</li>
                <t style="font-size:14px; color:grey"> Instead of eating empty calories and junk food, eat foods that
                    are rich in
                    nutrients. Consider high-protein meats, which can help you to build muscle. Also, choose nutritious
                    carbohydrates, such as brown rice and other whole grains. This helps ensure your body is receiving
                    as much nourishment as possible, even if you’re dealing with a reduced appetite.</t>
                <li>Snack away:</li>
                <t style="font-size:14px; color:grey"> Enjoy snacks that contain plenty of protein and healthy
                    carbohydrates.
                    Consider options like trail mix, protein bars or drinks, and crackers with hummus or peanut butter.
                    Also, enjoy snacks that contain “good fats,” which are important for a healthy heart. Examples
                    include nuts and avocados.</t>
                <li>Eat mini meals:</li>
                <t style="font-size:14px; color:grey"> If you’re struggling with a poor appetite, due to medical or
                    emotional
                    issues, eating large amounts of food may not seem appealing. Consider eating smaller meals
                    throughout the day to increase your calorie intake.</t>
                <li>Bulk up:</li>
                <t style="font-size:14px; color:grey">While too much aerobic exercise will burn calories and work
                    against
                    your
                    weight goal, strength training can help. This includes weightlifting or yoga. You gain weight by
                    building muscle. </t>
            </ul>
            <br>
            <br>
            <br>

            <H3 style="color:crimson">OTHER PAGES TO CHECK OUT:</H3>
            <div class="row">
                <div class="column">
                    <a href="/bmi">
                        <img src="https://play-lh.googleusercontent.com/oRfGPvu132cuyKZXG9Z-OoWr-OlN7VFBIw60vvkBQ2Gzv4V4VdtvpwEISJ1rv9ZzTVI"
                            alt="BMI" style="width:240px;height:240px;"id="left">
                        <h3 style="color: black">BMI Calculator </h3>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.google.com/">
                        <img class="middle-img"src="https://play-lh.googleusercontent.com/b3ptepyxfN2fLwBSobDOEC4tdnBpvs3N4o_yDtwCfJ1ytAChDL9Ja-JH-tQulYXAqWbK"
                            alt="Forest" style="width:240px;height:240px;" id="center">
                        <h3 style="text-align: center;color: black">Calories Calculator </h3>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.google.com/">
                        <img src="https://img1.wsimg.com/isteam/ip/7836b391-4d9d-4e5e-a0f0-a6d9bd4f9e74/0a38c720-316b-4fce-a9f2-ae5aba001cc1.png/:/rs=w:400,cg:true,m"
                            alt="Mountains" style="width:240px;height:240px;" id="right">
                        <br>
                        <h3 style="text-align: center; color: black">BMR Calculator </h3>
                    </a>
                </div>
            </div>

        </div>
</body>

</html>